name: HRMS CI - Build & Test

on:
 push:
  branches: [ main, develop ]
 pull_request:
   branches: [ main, develop ]

jobs:
    build-and-test:
     runs-on: ubuntu-latest
strategy:
   matrix:
    node-version: [20.x, 22.x]
run-name:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Use Node.js ${{ matrix.node-version }}
    uses: actions/setup-node@v4
    with:
      node-version: ${{ matrix.node-version }}
      cache: 'npm'

  - name: Install dependencies
    run: npm ci

  - name: Run Jest tests with coverage
    run: npm test -- --coverage --runInBand

  - name: Upload coverage report
    if: always()
    uses: actions/upload-artifact@v4
    with:
      name: coverage-report
      path: coverage
